@font-face {
  font-family: 'LH';
  src: url('../font/LH.ttf');
}

@font-face {
  font-family: 'IN';
  src: url('../font/IN.ttf');
}

@font-face {
  font-family: 'SJ';
  src: url('../font/SJ.ttf');
}

@font-face {
  font-family: 'AL';
  src: url('../font/AL.ttf');
}
